* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
/*position: relative; */
  background: url(./images/pattern-background-desktop.svg), #e1e9ff;
  background-repeat: no-repeat, no-repeat;
}

/* body::after {
  content: url(images/pattern-background-desktop2.svg);
  width: 5rem;
  height: 140rem;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  transform: rotate(180deg) translate(0%, 12%);
}

body::before {
  content: url(images/pattern-background-desktop.svg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transform: translate(0%, -12%);
} */

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  place-content: center;
  height: 100vh;
}

article {
  display: grid;
  grid-template-columns: 39rem;
  place-content: center;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
  /* place-content: center; */
  justify-items: center;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.1);
}

.product-image {
  background-image: url(images/illustration-hero.svg);
  background-size: cover;
  height: 19rem;
  width: 39rem;
}

.product-content {
  padding: 4.3rem 1.7rem;
}

h1 {
  font-size: 2.5rem;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin-bottom: 1.7rem;
}

.product-exp {
  font-size: 1.4rem;
  color: hsl(224, 23%, 55%);
  padding-right: 3rem;
  padding-left: 3rem;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.plan {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  padding: 1.7rem;
  background-color: hsl(225, 100%, 98%);
  border-radius: 15px;
  margin-bottom: 2.6rem;
}

.plan-icon {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.plan-t {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.plan-name {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  font-size: 1.5rem;
}

.plan-price {
  color: hsl(224, 23%, 55%);
  font-weight: 700;
  font-size: 1.5rem;
}

.change:link,
.change:visited {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: none;
  border-bottom: 1px solid hsl(245, 75%, 52%);
  padding-bottom: -10px;
  transition: all 0.3s;
}

.change:hover {
  color: hsl(224, 23%, 55%);
  border-bottom: 1px solid transparent;
}

.buy-t,
.buy-t:visited {
  text-decoration: none;
}

.buy,
.buy:visited {
  font-size: 1.5rem;
  background-color: hsl(245, 75%, 52%);
  padding: 1.3rem;
  border: none;
  text-decoration: none;
  color: #ffffffe8;
  border-radius: 10px;
  display: block;
  margin: 0 auto;
  width: 85%;
  font-weight: 700;
  box-shadow: 0px 18px 24px rgba(0, 0, 0, 0.15);
  margin-bottom: 2.6rem;
  cursor: pointer;
  transition: all 0.3s;
}

.buy:hover {
  background-color: #766cf1;
}

.cancel:link,
.cancel:visited {
  text-decoration: none;
  color: hsl(224, 23%, 55%);
  font-size: 1.4rem;
  font-weight: 900;
  transition: all 0.3s;
}

.cancel:hover {
  color: hsl(223, 47%, 23%);
}

.developer-t {
  font-size: 1.5rem;
  color: hsl(224, 23%, 55%);
  font-weight: 500;
}

.creator:link,
.creator:visited,
.challenge:link,
.challenge:visited {
  font-weight: 900;
  text-decoration: none;
  color: rgb(82, 91, 114);
  transition: all 0.3s;
}

.creator:hover,
.challenge:hover {
  color: rgb(51, 55, 68);
}

/* font-weights: 500, 700, 900 */

/* RESPONSIVE */

@media (max-width: 23.4375em) {
  html {
    font-size: 50%;
  }

    body {
    background: url(images/pattern-background-mobile.svg), #e1e9ff;
    background-repeat: no-repeat, no-repeat;
  }
  
  .main-div {
    margin-top: 1rem;
  }

  .developer-t {
    font-size: 1.1rem;
  }
}
